DJANGO_SECRET_KEY=your-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=postgresql://user:password@host/database?sslmode=require
JWT_SIGNING_KEY=your-jwt-signing-key